<section class="hero role">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Your addresses        </li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Your addresses</h1>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 col-xl-9">
        <form action="#">
          <div class="block">
            <!-- Invoice Address-->
            <div class="block-header">
              <h6 class="text-uppercase mb-0">Invoice address                    </h6>
            </div>
            <div class="block-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="fullname_invoice" class="form-label">Full Name</label>
                  <input type="text" name="fullname_invoice" placeholder="Joe Black" id="fullname_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="emailaddress_invoice" class="form-label">Email Address</label>
                  <input type="text" name="emailaddress_invoice" placeholder="joe.black@gmail.com" id="emailaddress_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="street_invoice" class="form-label">Street</label>
                  <input type="text" name="street_invoice" placeholder="123 Main St." id="street_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="city_invoice" class="form-label">City</label>
                  <input type="text" name="city_invoice" placeholder="City" id="city_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="zip_invoice" class="form-label">ZIP</label>
                  <input type="text" name="zip_invoice" placeholder="Postal code" id="zip_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="state_invoice" class="form-label">State</label>
                  <input type="text" name="state_invoice" placeholder="State" id="state_invoice" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="phonenumber_invoice" class="form-label">Phone Number</label>
                  <input type="text" name="phonenumber_invoice" placeholder="Phone Number" id="phonenumber_invoice" class="form-control">
                </div>
                <div class="form-group col-12 mt-3">
                  <div class="custom-control custom-checkbox">
                    <input id="show-shipping-address" type="checkbox" name="clothes-brand" class="custom-control-input">
                    <label for="show-shipping-address" data-toggle="collapse" data-target="#shippingAddress" aria-expanded="false" aria-controls="shippingAddress" class="custom-control-label align-middle">Use a different shipping address</label>
                  </div>
                </div>
              </div>
              <!-- /Invoice Address-->
            </div>
            <!-- Shippping Address-->
            <div id="shippingAddress" aria-expanded="false" class="collapse">
              <div class="block">
                <div class="block-header">
                  <h6 class="text-uppercase mb-0">Shipping address </h6>
                </div>
                <div class="block-body">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="street_shipping" class="form-label">Street</label>
                      <input type="text" name="street_shipping" placeholder="123 Main St." id="street_shipping" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="city_shipping" class="form-label">City</label>
                      <input type="text" name="city_shipping" placeholder="City" id="city_shipping" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="zip_shipping" class="form-label">ZIP</label>
                      <input type="text" name="zip_shipping" placeholder="Postal code" id="zip_shipping" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="state_shipping" class="form-label">State</label>
                      <input type="text" name="state_shipping" placeholder="State" id="state_shipping" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="phonenumber_shipping" class="form-label">Phone Number</label>
                      <input type="text" name="phonenumber_shipping" placeholder="Phone Number" id="phonenumber_shipping" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Shipping Address-->
            </div>
          </div>
          <div class="form-group mt-3 text-center">
            <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>Save changes</button>
          </div>
        </form>
      </div>
      <!-- Customer Sidebar-->
      <div class="col-xl-3 col-lg-4 mb-5">
        <div class="customer-sidebar card border-0"> 
          <div class="customer-profile"><a href="#" class="d-inline-block"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/kyle-loftus-589739-unsplash-avatar.jpg" class="img-fluid rounded-circle customer-image"></a>
            <h5>Julie Svestkova</h5>
            <p class="text-muted text-sm mb-0">Ostrava, Czech republic</p>
          </div>
          <nav class="list-group customer-nav"><a href="customer-orders.html" class="list-group-item d-flex justify-content-between align-items-center"><span>
                <svg class="svg-icon svg-icon-heavy mr-2">
                  <use xlink:href="#paper-bag-1"> </use>
                </svg>Orders</span>
              <div class="badge badge-pill badge-dark font-weight-normal px-3">5</div></a><a href="customer-account.html" class="list-group-item d-flex justify-content-between align-items-center"><span>
                <svg class="svg-icon svg-icon-heavy mr-2">
                  <use xlink:href="#male-user-1"> </use>
                </svg>Profile</span></a><a href="customer-addresses.html" class="active list-group-item d-flex justify-content-between align-items-center"><span>
                <svg class="svg-icon svg-icon-heavy mr-2">
                  <use xlink:href="#navigation-map-1"> </use>
                </svg>Addresses</span></a><a href="customer-login.html" class="list-group-item d-flex justify-content-between align-items-center"><span>
                <svg class="svg-icon svg-icon-heavy mr-2">
                  <use xlink:href="#exit-1"> </use>
                </svg>Log out</span></a>
          </nav>
        </div>
      </div>
      <!-- /Customer Sidebar-->
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="main-footer">
  <!-- Services block-->
  <div class="bg-gray-100 text-dark-700 py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#delivery-time-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Free shipping &amp; return</h6>
            <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#money-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Money back guarantee</h6>
            <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#customer-support-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">020-800-456-747</h6>
            <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main block - menus, subscribe form-->
  <div class="py-6 bg-gray-300 text-muted"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Sell<span class="text-primary">.</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Shop</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">For Women</a></li>
            <li> <a href="#" class="text-muted">For Men</a></li>
            <li> <a href="#" class="text-muted">Stores</a></li>
            <li> <a href="#" class="text-muted">Our Blog</a></li>
            <li> <a href="#" class="text-muted">Shop</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Company</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">Login                    </a></li>
            <li> <a href="#" class="text-muted">Register                    </a></li>
            <li> <a href="#" class="text-muted">Wishlist                    </a></li>
            <li> <a href="#" class="text-muted">Our Products                    </a></li>
            <li> <a href="#" class="text-muted">Checkouts                    </a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h6 class="text-uppercase text-dark mb-3">Daily Offers & Discounts</h6>
          <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
          <form action="#" id="newsletter-form">
            <div class="input-group mb-3">
              <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary border-left-0"> <i class="fa fa-paper-plane text-lg text-dark"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section of the footer-->
  <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-md-0">&copy; 2018 Your company.  All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/visa.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/mastercard.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/paypal.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/western-union.svg" alt="..." class="w-2rem"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer end-->
<div id="scrollTop"><i class="fa fa-long-arrow-alt-up"></i></div>
<button type="button" data-toggle="collapse" data-target="#style-switch" id="style-switch-button" class="btn btn-primary btn-sm d-none d-lg-block"><i class="fa fa-cog fa-2x"></i></button>
<div id="style-switch" class="collapse">
  <h4 class="text-uppercase mb-4">Select theme colour</h4>
  <form class="mb-3">
    <select name="colour" id="colour" class="form-control style-switch-select">
      <option value="">select colour variant</option>
      <option value="default">violet</option>
      <option value="pink">pink</option>
      <option value="green">green</option>
      <option value="red">red</option>
      <option value="blue">blue</option>
    </select>
  </form>
  <p class="text-muted">Stylesheet switching is done with JavaScript and can cause a blink while page loads. This will not happen in your production code.</p>
</div>
