<section class="hero role">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Checkout        </li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Checkout</h1>
      <div class="row">   
        <div class="col-xl-8 offset-xl-2"><p class="lead text-muted">Choose your delivery method.</p></div>
      </div>
    </div>
  </div>
</section>
<!-- Checkout-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="custom-nav nav nav-pills mb-5">
          <li class="nav-item w-25"><a routerLink="checkout1.html" class="nav-link text-sm ">Address</a></li>
          <li class="nav-item w-25"><a routerLink="checkout2.html" class="nav-link text-sm active">Delivery Method</a></li>
          <li class="nav-item w-25"><a routerLink="#" class="nav-link text-sm disabled">Payment Method </a></li>
          <li class="nav-item w-25"><a routerLink="#" class="nav-link text-sm disabled">Order Review</a></li>
        </ul>
        <div class="block my-5">
          <div class="block-body">
            <div class="row">
              <div class="form-group col-md-6 d-flex align-items-center">
                <input type="radio" name="shippping" id="option0">
                <label for="option0" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
              </div>
              <div class="form-group col-md-6 d-flex align-items-center">
                <input type="radio" name="shippping" id="option1">
                <label for="option1" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
              </div>
              <div class="form-group col-md-6 d-flex align-items-center">
                <input type="radio" name="shippping" id="option2">
                <label for="option2" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
              </div>
              <div class="form-group col-md-6 d-flex align-items-center">
                <input type="radio" name="shippping" id="option3">
                <label for="option3" class="ml-3"><strong class="d-block text-uppercase mb-2">Usps next day</strong><span class="text-muted text-sm">Get it right on next day - fastest option possible.</span></label>
              </div>
            </div>
          </div>
          <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a href="cart.html" class="btn btn-link text-muted"> <i class="fa fa-angle-left mr-2"></i>Back to the addresses</a><a routerLink="/checkout3" class="btn btn-dark">Choose payment method<i class="fa fa-angle-right ml-2"></i></a></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="block mb-5">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">Order Summary</h6>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>Order Subtotal </span><span>$390.00</span></li>
              <li class="order-summary-item"><span>Shipping and handling</span><span>$10.00</span></li>
              <li class="order-summary-item"><span>Tax</span><span>$0.00</span></li>
              <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">$400.00</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="main-footer">
  <!-- Services block-->
  <div class="bg-gray-100 text-dark-700 py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 service-column">
          <i class="fas fa-shipping-fast mr-2 icon"></i>
          <div class="service-text">
            <h6 class="text-uppercase">Free shipping &amp; return</h6>
            <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <i class="fas fa-money-check  mr-2 icon"></i>
          <div class="service-text">
            <h6 class="text-uppercase">Money back guarantee</h6>
            <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <i class="fas fa-users mr-2 icon"></i>
          <div class="service-text">
            <h6 class="text-uppercase">020-800-456-747</h6>
            <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main block - menus, subscribe form-->
  <div class="py-6 bg-gray-300 text-muted"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Sell<span class="text-primary">.</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Shop</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">For Women</a></li>
            <li> <a href="#" class="text-muted">For Men</a></li>
            <li> <a href="#" class="text-muted">Stores</a></li>
            <li> <a href="#" class="text-muted">Our Blog</a></li>
            <li> <a href="#" class="text-muted">Shop</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Company</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">Login                    </a></li>
            <li> <a href="#" class="text-muted">Register                    </a></li>
            <li> <a href="#" class="text-muted">Wishlist                    </a></li>
            <li> <a href="#" class="text-muted">Our Products                    </a></li>
            <li> <a href="#" class="text-muted">Checkouts                    </a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h6 class="text-uppercase text-dark mb-3">Daily Offers & Discounts</h6>
          <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
          <form action="#" id="newsletter-form">
            <div class="input-group mb-3">
              <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary border-left-0"> <i class="fa fa-paper-plane text-lg text-dark"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section of the footer-->
  <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-md-0">&copy; 2018 Your company.  All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/visa.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/mastercard.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/paypal.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/western-union.svg" alt="..." class="w-2rem"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer end-->
<div id="scrollTop"><i class="fa fa-long-arrow-alt-up"></i></div>
<button type="button" data-toggle="collapse" data-target="#style-switch" id="style-switch-button" class="btn btn-primary btn-sm d-none d-lg-block"><i class="fa fa-cog fa-2x"></i></button>
<div id="style-switch" class="collapse">
  <h4 class="text-uppercase mb-4">Select theme colour</h4>
  <form class="mb-3">
    <select name="colour" id="colour" class="form-control style-switch-select">
      <option value="">select colour variant</option>
      <option value="default">violet</option>
      <option value="pink">pink</option>
      <option value="green">green</option>
      <option value="red">red</option>
      <option value="blue">blue</option>
    </select>
  </form>
  <p class="text-muted">Stylesheet switching is done with JavaScript and can cause a blink while page loads. This will not happen in your production code.</p>
</div>
